
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    height: 1040px;

}
.header-menu{
    background-color: #1c262b;
    text-align: center;
    width: 100px;
    height: 1000px; 
 

}
.col-lg-1{
    padding: 0;
}

.menu{
    font-family: 'Montserrat', sans-serif;
    
}
.menu ul {
    padding-inline-start: 0;
    list-style-type: none;

}
.title{
    display: block;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding :10px;
    background-color: #2BA163;
    margin:0;
}
.menu li {  
    border-bottom: solid 1px #2A343A;
    letter-spacing: .07em;
    width: auto;
    height: 70px;
    line-height: 28px;
    
}
.menu li i{
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
   
}
i{
    margin-left: -4px;
    margin-top: -15px;
}
.menu li a{
    color: #748287;
    font-size: 10px;   
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px 5px;
    
 
  }
.menu li a:hover{
    color: #F8F5F8;
}
  .header-bottom{
     margin-left: 10px;
  }
  .social ul{
      text-align: center;
  }
.social li{
    display: inline-table;
    font-size: 12px;
    padding-right: 4px;
    
}
.social li a{
    color: #556269;
    text-align: center;
}
.header-bottom p{
    display: flex;
  
}
.copyright{
    color: #556269;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.header-image{
    background-image: url("https://img2.thuthuat123.com/uploads/2019/11/19/anh-background-bau-troi-tren-day-nui-tuyet_122624429.jpg");
    background-repeat: none;
    background-size: cover;
    visibility: visible;
}
.header-image-content{
    position: absolute;
    top :40%;
    left: 40%;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.header-image-content h4{
    font-size: 18px;
}
.header-image-content a:hover{
    text-decoration: none;

}
.header-image-content h2{
    font-size: 48px;
    font-weight :500;
}
.header-image-content span{
    display: block;
    color: #fff;
    font-family: "Montserrat";
    
}

.about{
    padding-top:15px;
}
.about-content{
    max-width: 1040px;
    margin :0 auto;
}
.about-icon{
    text-align: center;
    padding-top:20px;
}
.about-content-h2 h2{
    margin: 0;  
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-align: center;
    position: relative;
    z-index: 10;
}
.about-icon, .about-content-h2{
    margin-top: 2em;
}
.xx{
    position: absolute;
    left:50%;
}
.about-content-h2{
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-align: center
}
.about-content-h2 h2::before{
    bottom: auto;
    top: -.5em;
    left: -1.57em;
    z-index: -1;
}
.section-title h2:after, .section-title h2:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -.5em;
    width: 2em;
    height: 100%;
    background-color: #7DB376;
    pointer-events: none;
}
.about-content-h2 h2 i{
    display: inline-block;
    position: relative;
    padding: .8em 3em;
    font-style: normal;
    color: #fff;
    background-color: #8ACB82;
}
.about-content-h2 h2 i ::before{
    bottom: auto;
    top: -.5em;
    border-bottom: 0.5em solid #080b0c;
    border-bottom: 0.5em solid rgba(8, 11, 12, 0.2);
    border-left: .5em solid transparent;
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -.5em;
    left: -.05em;
    pointer-events: none;
    -webkit-mask: none;
}
.about-content-h2 h2 i ::after{
    left: auto;
    right: -.05em;
    border-top: 0.5em solid #080b0c;
    border-top: 0.5em solid rgba(8, 11, 12, 0.2);
    border-right: .5em solid transparent;
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -.5em;
    left: -.05em;
    pointer-events: none;
    -webkit-mask: none;
}
.about-content-h2 h2::after{
    content: " ";
    display: block;
    position: absolute;
    bottom: -0.1em;
    width: 1em;
    height: 35%;
    background-color: #7DB376;
    pointer-events: none;
    right: 13.8em;
    z-index: -1;

}
.about-icon{
    display: block;
    font-size: 50px;
}
.about-title{
    display: block;
    font-size: 48px;
    font-weight: 600;
    font-family: "Montserrat", serif;
}
.section-title{
   
    position: relative;
}
.service{
    position: absolute;
    left:44%;
}
.services{
    text-transform: uppercase;
    background-color: #8ACB82;
    width: 130px;
    height:30px;
    float:inline-start;
    color: #fff;
    font-family: "Montserrat";
    margin-top: 10px;
    padding-top:8px;
    font-size: 11px;
    text-align: center;
}
.section-content img{
    width: 84px;
    height: 84px;
}
.section-content {
    text-align: center;
    margin-top: 50px;
    padding:20px;
}
.title-1{
    font-family: "Montserrat";
    font-weight: 900;
    color: #334455;
    font-size: 10px;
}
.content-1{
    color:#848B8E;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 200;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.process p{
    font-size: 70px;
    text-align: center;
    color: #345;
    margin: 0;
}
.process h4{
    text-align: center;
}