#btn:hover{
    background-color:#DDDDDD;
    cursor: pointer;
}
.img-fluid{
    max-width: 90%;
    margin-top:-50px;
    border-radius: 50%;
}
#number{
    font-size: 33px;
    color:#3583DE;
}

#hover:hover{
    cursor: pointer;
}
#text{
    font-family: Helvetica Neue;
    color:#ADB0DA;
    font-size: 11px;
}
.img-fluid{
    margin-top: -30px;
}
#result:focus{
    outline: none;
}
.footer span{
    font-family:"Averta-Regular";
}