*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
    position: fixed;
    width: 100%;
  }
  .logo{
    line-height: 50px;
    float: left;
    text-transform: uppercase;
  }
  
  .menu{
    float: right;
    line-height: 100px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #3498db;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
.slide{
      padding:0 ; 
      height : 900px;
      background-image: url("https://i.pinimg.com/originals/27/cd/88/27cd88f1a6bedd2fd6857a8b6094b3b3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}
.portfolio h1{
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size:50px ;
    margin-top: 50px;
    font-family: "montserrat";
    font-weight: bold;
}
.portfolio i{
    text-align: center;
    display: block;
    color: green;
    height:40px;
    font-size:40px;
    margin-top:10px;
}
.star{
    margin-top: 30px;
    width:auto;
    height: 5px;
    text-align: center;
}

